.home-container {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.home-links {
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.home-links a {
    color: rgb(73, 64, 64);
    text-decoration: none;
    margin-right: 20px;
}

.home-links a:hover {
    color: #61dafb;
}