.navbar {
  background-color: #272829;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar a {
  color: white;
  margin-right: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin-right: 10px;
}

button {
  cursor: pointer;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.create-post-page {
  background-color: #ECF9FF;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Use min-height to fill the viewport height */
}

.create-form-container {
  width: 500px;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-form-group {
  margin-bottom: 20px;
}


.create-form-input {
  width: 100%;
  padding: 10px;
  background-color: #f8f8f8;
  color: #000;
  border: none;
  border-radius: 5px;
  outline: none;
}

.create-form-textarea {
  width: 100%;
  padding: 10px;
  background-color: #f8f8f8;
  color: #000;
  border: none;
  border-radius: 5px;
  outline: none;
  /* Update the height property */
  height: 100%;
  overflow: auto;
  /* Add the following to enable vertical resizing */
  resize: vertical;
}

.create-form-error {
  color: red;
}

.create-form-submit-container {
  display: flex;
  justify-content: center;
}

.create-form-submit-button {
  padding: 10px 20px;
  background-color: #D2E9E9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-form-submit-button:hover {
  background-color: #C4DFDF;
}

.post-container {
  width: 400px;
  width: 90%;
  max-width: 400px;
  background-color: #f8f8f8;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

/* Title */
.title {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Description */
.description {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes {
  display: flex;
  align-items: center;
}

.like-count {
  margin-left: 5px;
  /* Add some space between the icon and count */
}

/* App.css */

@media screen and (max-width: 768px) {
  .create-form-container {
    width: 90%;
  }

  .post-container {
    width: 90%;
  }
}