.navbar {
  background-color: #323030;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin-right: 10px;
}

button {
  cursor: pointer;
  border: 1px solid #61dafb;
  background: transparent;
  color: #61dafb;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #61dafb;
  color: white;
}